<h3 class="spacer">Trending Videos</h3>
<mat-divider></mat-divider>
<mat-tab-group color="accent">
    <mat-tab label="National" color="primary">


        <mat-grid-list cols="3" rowHeight="400px">
            <section class="content">
                <mat-grid-tile *ngFor="let article of articles.articles; let i = index" class="tile">
                    <div class="content">
                        <div>

                            <strong>{{article.author}}</strong>
                        </div>
                        <div class="description">
                            <em>{{article.title}}</em>
                        </div>
                        <!-- <div class = "description">{{article.description}}</div> -->
                        <div><a href="{{article.url}}"></a></div>
                        <div><img src="{{article.urlToImage}}" alt="" class="image"></div>
                        <div>Date Published {{article.publishedAt}}</div>
                        <!-- <div class = "description">{{article.content}}</div> -->
                        <div><a href="{{article.url}}" target="_blank">Full Description</a></div>
                    </div>
                </mat-grid-tile>
            </section>

        </mat-grid-list>
        <mat-divider></mat-divider>





    </mat-tab>
    <mat-tab label="International">
        <mat-grid-list cols="3" rowHeight="500px">
            <mat-grid-tile *ngFor="let article of USArticles.articles; let i = index" class = "tile">

                <div class="content">
                    <div>

                        <strong>{{article.author}}</strong>
                    </div>
                    <div class="description">
                        <em>{{article.title}}</em>
                    </div>
                    <!-- <div class = "description">{{article.description}}</div> -->

                    <div><img src="{{article.urlToImage}}" alt="" class="image"></div>
                    <div>Date Published {{article.publishedAt}}</div>
                    <!-- <div class = "description">{{article.content}}</div> -->
                    <div><a href="{{article.url}}">Full Description</a></div>

                </div>


            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Sports">
        <mat-grid-list cols="3" rowHeight="500px">
            <mat-grid-tile *ngFor="let article of SportsArticles.articles; let i = index" class = "tile">

                <div class="content">
                    <div>

                        <strong>{{article.author}}</strong>
                    </div>
                    <div class="description">
                        <em>{{article.title}}</em>
                    </div>
                    <!-- <div class = "description">{{article.description}}</div> -->

                    <div><img src="{{article.urlToImage}}" alt="" class="image"></div>
                    <div>Date Published {{article.publishedAt}}</div>
                    <!-- <div class = "description">{{article.content}}</div> -->
                    <div><a href="{{article.url}}">Full Description</a></div>

                </div>


            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Business">
        <mat-grid-list cols="3" rowHeight="500px">
            <mat-grid-tile *ngFor="let article of BusinessArticles.articles; let i = index" class = "tile">

                <div class="content">
                            <div>

                                <strong>{{article.author}}</strong>
                            </div>
                           
                            
                            <div class="description">
                                <em>{{article.title}}</em>
                            </div>
                            
                            
                    <!-- <div class = "description">{{article.description}}</div> -->
                    
                    <div><img src="{{article.urlToImage}}" alt="" class="image"></div>
                    
                    <div>Date Published {{article.publishedAt}}</div>
                    <!-- <div class = "description">{{article.content}}</div> -->
                    <div><a href="{{article.url}}">Full Description</a></div>
                        
               

            </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>