<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <div class="logo-image">
        <img src="../../assets/images/logo.png" class="img-fluid">
    </div>
    <a class="navbar-brand" href="#">newsZoid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Upload videos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Your profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Edit profile</a>
                    <a class="dropdown-item" href="#">View posts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Remove account</a>
                </div>
            </li>

        </ul>

    </div>
</nav>