
    <mat-jumbotron imgURL="assets/images/logo.png" class = "jumbotron">
    <mat-jumbotron-content class= "content">
       
      <h2 class="display-1" ngClass.xs="display-3 text-center" ngClass.sm="display-3">NewsZoid</h2>
      <p class="headline" ngClass.xs="text-center">  Ultimate News Experience designed for the new Era!
      </p>

   
      <ul>
          <li>
              <h6 class = "features">Fastest</h6>
          </li> 
          <li>
            <h6 class = "features">Authentic</h6>
          </li> 
          <li>
            <h6 class = "features">Reliable</h6>
          </li>  
          <li><h6 class = "features">Customised</h6></li>
      </ul>
   
      
    </mat-jumbotron-content>
  </mat-jumbotron>
